body{

    background-image: url("weight-loss-composition-with-space-salad.jpg");
    background-size: 1750px;
    
}
.log{
    background-color: beige;
    width: 300px;
    text-align: center;
    margin-left: 700px;
    margin-top: 100px;
}